{% extends "tienda/base.html" %}
{% block title %}Cambiar contraseña{% endblock %}
{% block content %}
    <h1>Cambiar contraseña</h1>
    <p>Usa el siguiente formulario para cambiar tu contraseña.</p>
    <form method="post">
        {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">

                    <label for="{{ form.old_password.id_for_label }}">Contraseña actual:</label> <br>
                    {{ form.old_password }} <br>
                    {{ form.old_password.errors }} <br>

                </div>
                <div class="form-group">

                    <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña:</label> <br>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}

                </div>
                <div class="form-group">

                    <label for="{{ form.new_password2.id_for_label }}">Repetir nueva contraseña:</label> <br>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}

                </div>
        <p><input type="submit" value="Cambiar"></p>
    </form>
{% endblock %}