{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Mi tienda{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Mi tienda</a>
      <div id="saludo">
        {% if user.is_authenticated %} 
          <button class="btn bg-danger" type="submit">
            <a href="{% url 'logout' %}" class="text-danger">CERRAR SESION</a></button>
        {% else %}
          <button class="btn bg-success" type="submit" >
            <a href="{% url 'login' %}" class="text-success">ACCEDER</a></button>
        {%endif%}
      </div>
    </div>
    <div id="subheader">
      <div class="cart">
        {% if user.is_authenticated %}
        Hola<a href=" {% url 'perfil' %}"> {{request.user }} </a>
        {% endif %}
        {% with total_items=cart|length %} {% if total_items > 0 %} Tu carrito:
        <a href="{% url 'carrito:carrito_detalle' %}">
          {{ total_items }} item{{ total_items|pluralize }},
          ${{cart.get_total_price }}
        </a>
        {% else %} Tu carrito esta vacio {% endif %} {% endwith %} 
          
      </div>
    </div>
    <div id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
