{% extends "tienda/base.html" %}
{% load static %}
{% block title %}
Tu carrito de compras
{% endblock %}
{% block content %}
    <h1>Tu carrito de compras</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Eliminar</th>
                <th>Precio Unitario</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.imagen %}{{ product.imagen.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                            </a>
                        </td>
                        <td>{{ product.nombre }}</td>
                        <td>
                            <form action="{% url 'carrito:carrito_añadir' product.id %}" method="post">
                            {{ item.update_quantity_form.cantidad }}
                            {{ item.update_quantity_form.sobreescribir }}
                            <input type="submit" value="Actualizar">
                            {% csrf_token %}
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'carrito:carrito_eliminar' product.id %}" method="post">
                            <input type="submit" value="Eliminar">
                            {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">${{ item.precio }}</td>
                        <td class="num">${{ item.total_precio }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
    <a href="{% url 'shop:producto_lista' %}" class="buttonlight">Continuar agregando productos</a>
    
    <a href="{% url 'pedidos:pedido_crear' %}" class="button">Comprar</a>
        
    
    </p>
{% endblock %}