{% extends "tienda/base.html" %}
{% load static %}

{% block title %}
    Pedidos
{% endblock %}

{% block content %}
    <div id="main" class="product-list">
    <h1>Pedidos</h1>
        {% for pedido in Pedidos %}
            <ul>
                <li> <h2> Fecha: {{ pedido.creado }}</h2> </li>
                <li> <h4>Medio de pago: Paypal</h4> </li>
                <li> <h4> ID del pedido: {{pedido.pedidoID}} </h4> </li>
                <li> <h4>Productos: {{ pedido.productos }} </h4> </li>
                <li> <h4> <strong>TOTAL: ${{ pedido.total }}</strong> </h4> </li>                
            </ul>
        {% endfor %}
    </div>
{% endblock %}