{% extends "tienda/base.html" %}
{% load static %}
{% block title %}
EDITAR PRODUCTOS
{% endblock %}
{% block content %}
<h1>EDITAR PRODUCTO</h1>
    <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ Form.non_field_errors }} <br>
                <div class="form-group">

                    <label for="{{ Form.nombre.id_for_label }}">Nombre del producto:</label> <br>
                    {{ Form.nombre }} <br>
                    {{ Form.nombre.errors }}
                </div>
                <div class="form-group">

                    <label for="{{ Form.imagen.id_for_label }}">Imagen:</label> <br>
                    <img src="{% if Producto.imagen %}{{ Producto.imagen.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"> <br>
                    {{ Form.imagen }} <br>
                </div>
                <div class="form-group">

                    <label for="{{ Form.categoria.id_for_label }}">Categoria:</label> <br>
                    {{ Form.categoria }} <br>
                    {{ Form.categoria.errors }} <br>
                </div>
                <div class="form-group">

                    <label for="{{ Form.precio.id_for_label }}">Precio:</label> <br>
                    {{ Form.precio }} <br>
                    {{ Form.precio.errors }}
                </div>
                <div class="form-group">

                    <label for="{{ Form.descripcion.id_for_label }}">Descripcion:</label> <br>
                    {{ Form.descripcion }} <br>
                    {{ Form.descripcion.errors }}
                </div>
                <input type="submit" value="ACTUALIZAR" id="subir" class="btn btn-success">
            </form>
{% endblock %}